body {
    background-color: black;

}

.quiz {
    width: 80%;
    height: 80vh;

}

.flag-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
    

}

.flag {
    margin: 0 auto;
    width: fit-content;
    background-color: #ff0000;
    background-image: url('https://i.pinimg.com/736x/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2--paste-copy.jpg');
    border-radius: 5px;

}

.flag::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: url('https://i.pinimg.com/736x/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2--paste-copy.jpg');
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}


.flag{
	z-index: -100;
}
.flag,.flag{
	width: 50vw;
	max-width: 75vh;
	height: 12vw;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz__option {
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    border-radius: 5px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    background: transparent;
}

.quiz__option:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #c403f4,
                0 0 25px #c403f4,
                0 0 50px #c403f4,
                0 0 200px #f73ffd;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.flag-image {
    width: 50%;
    height: 90%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

/* making the page responsive */
@media screen and (max-width: 768px) {
    .quiz {
        width: 100%;
        height: 100vh;
    }
    .flag-container {
        flex-direction: column;
        height: 100%;

    }
    .flag {
        width: 100%;
        height: 50%;

    }
    h2 {
        margin: 4px;
    }
    .quiz__options {
        display: grid;
        /* two columns two rows four options */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0;

    }
    .quiz__option {
        font-size: 14px;
        margin: 2px;
        padding: 0;
        width: 150px;
        height: 40px;
        border: solid 1px #03e9f4;
    }

    .quiz__option:hover {
        background: transparent;
        color: #03e9f4;
        box-shadow: none;
        -webkit-box-reflect: none;

    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


